/* 父容器样式 */
.parent-sidebar {
  display: grid;
  grid-template-rows: auto 1fr auto; /* 分配行高 */
  height: 100vh; /* 使用视口高度 */
}

/* 分类侧边栏颜色 */
.colorSidebar {
  color: #A9B1C7;
}

/* 分类侧边栏悬停效果 */
.colorSidebar:hover,
.active-class {
  background-color: #222831; /* 点击后的背景颜色 */
  color: white; /* 点击后文字颜色 */
}

/* 侧边栏选项卡高度 */
.mdc-list-item.mdc-list-item--with-one-line {
  --mdc-list-list-item-one-line-container-height: 28px !important;
}
