
/* 分类侧边栏颜色 */
.colorSidebar {
  color: #A9B1C7;
}

/* 分类侧边栏悬停效果 */
.colorSidebar:hover,
.active-class {
  background-color: #222831; /* 点击后的背景颜色 */
  color: white; /* 点击后文字颜色 */
}

/* 侧边栏选项卡高度 */
.mdc-list-item.mdc-list-item--with-one-line {
  --mdc-list-list-item-one-line-container-height: 28px !important;
}

/* 侧边栏分类列表 */
.content {
  flex-grow: 1; /* 允许内容区域自动填充可用空间 */
  overflow-y: auto; /* 当内容超出时允许在y轴上滚动 */
}

/* 隐藏侧边栏分类列表滚动条 */
.content::-webkit-scrollbar {
  display: none; /* Chrome, Safari 和 Opera */
}
