<mat-sidenav-container [hasBackdrop]="false" >
  <mat-sidenav #sidenav [mode]="'side'" opened >
    <app-pages-sidenav [allData]="allData" [isSidebarCollapsed]="isSidebarCollapsed"></app-pages-sidenav>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar class="d-flex row align-items-center justify-content-between bg-white" height="60px">
      <div class="col-6 col-md-4 col-lg-4 p-0">
        <button mat-icon-button class="color-gray" type="button" matTooltip="切换侧边栏" (click.debounceTime)="toggleSidebar()">
          <i-tabler class="icon-20" [name]="isSidebarCollapsed ? 'layout-sidebar-left-collapse' : 'layout-sidebar-left-expand'"></i-tabler>
        </button>
      </div>

      <div class="col-12 col-md-10 col-lg-8 d-flex align-items-center justify-content-end">
        <div class="d-flex align-items-center p-6 m-y-10 rounded-pill b-1" width="180px">
          <i-tabler name="search" class="icon-20 iconColor" matPrefix></i-tabler>
          <form [formGroup]="editForm" class="d-flex align-items-center">
            <input type="text" formControlName="searchKeyword" placeholder="搜索" class="b-0 m-l-8" (blur)="clearSearchTerm()"/>
          </form>
        </div>

        <button mat-icon-button class="color-gray" type="button" class="m-l-10" matTooltip="是否显示按钮" (click.debounceTime)="toggleButtons()">
          <i-tabler name="menu-2" class="icon-20"></i-tabler>
        </button>

        <!-- 根据 showButtons 渲染添加分类按钮 -->
         @if (showButtons) {
          <button mat-icon-button class="color-gray" type="button" class="m-l-10" matTooltip="添加分类" (click)="addCategory()">
            <i-tabler name="plus" class="icon-20"></i-tabler>
          </button>
         }
      </div>
    </mat-toolbar>


    <!-- 搜索结果 -->
    @if (editForm.get('searchKeyword')?.value && allData.length > 0) {
    <div class="searchResult">
      @for (item of searchData; track item.id) {
        <a href="{{ item.href }}" target="_blank" rel="noopener noreferrer" class="searchResult-content">
          <span class="searchResult-name">{{ item.name }}</span>
          <span class="searchResult-desc">{{ item.description }}</span>
        </a>
      }
      <span class="f-s-14">共搜到 {{ searchData.length }} 条结果</span>
    </div>
    }


    <div class="card-content m-t-16">
      <app-pages-card [allData]="allData" [showButtons]="showButtons" (getData)="getData()" class="m-t-16">
      </app-pages-card>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>

