

/* 去除输入框获得焦点时的默认外边框 */
input{
  &:focus{
    outline: none;
  }
}

/* 侧边栏容器 */
mat-sidenav-container {
  height: 100vh; /* 确保容器占满可用高度 */
  width: 100vw; /* 占据整个视口宽度 */
  background-color: #F3F6F8;
}


/* 侧边栏样式 */
mat-sidenav {
  width: 200px; /* 根据需要设置侧边栏宽度 */
  height: 100%; /* 侧边栏占满高度 */
  border-radius: 0; /* 右边不设圆角 */
  background-color: #222831;
  padding: 0px 0px 0px 20px;
  margin-right: 10px;
}

/* 隐藏侧边栏抽屉滚动条 */
:host ::ng-deep .mat-drawer-inner-container {
  &::-webkit-scrollbar {
    display: none;
  }
}


/* 列表项高度自适应 */
.mdc-list-item.mdc-list-item--with-one-line {
  height: auto;
}

/* 确保 mat-sidenav-content 占据除了侧边栏外的剩余部分 */
mat-sidenav-content {
  display: flex;
  flex-direction: column;
  height: 100%; /* 占据父容器的剩余高度 */
  background-color: #F3F6F8;
  padding:10px 30px;
}


/* 搜索结果 */
.searchResult {
  position: absolute; /* 绝对定位 */
  top: 75px; /* 根据需要调整，应该是搜索框的高度 */
  right: 30px;
  width: 350px;
  max-height: 400px;
  background-color: #fff;
  border: 1px solid #e6e6e6;
  padding: 10px;
  z-index: 100;
  overflow-y: auto; /* 如果内容超出，允许垂直滚动 */
}


/* 搜索结果每一项 */
.searchResult-content {
  display: flex;
  align-items: center; /* 垂直居中对齐 */
  justify-content: space-between; /* 元素横向间隔分开 */
  margin-bottom: 10px; /* 可选：增加每项之间的间隔 */
  font-size: 13px; /* 可选：调整字体大小 */
  text-decoration: none; /* 去除下划线 */
  color: #415B75;
}

/* 搜索结果描述 */
.searchResult-desc{
  text-align: right; /* 文本靠右对齐 */
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100px; /* 确保宽度足够窄以触发溢出 */
}

/* 鼠标悬停每个搜索结果时 */
.searchResult-content:hover .searchResult-name,
.searchResult-content:hover .searchResult-desc {
  color: #007bff;
  font-weight: bold;
}
