

/* 图标按钮样式 */
.iconButton {
  padding: 0;
  border: none;
  background-color: transparent;
  color: #AFAFAF;
  margin-right: 5px;

  &:hover {
    color: #3273dc;
    font: bold;
  }
}




.mt-16 {
  margin-top: 16px;
}

.mb-6{
  margin-bottom: 6px;
}
