<mat-sidenav-container [hasBackdrop]="false" >
  <mat-sidenav #sidenav [mode]="'side'" opened >
    <app-sidebar></app-sidebar>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar>
      <button class="iconButton" matTooltip="切换侧边栏" (click)="toggleSidebar()">
        <i-tabler [name]="isSidebarCollapsed ? 'layout-sidebar-left-collapse' : 'layout-sidebar-left-expand'"></i-tabler>
      </button>

      <!-- 右边的内容 -->
      <div class="toolbar-right">

        <div class="toolbar-search">
          <mat-icon matPrefix>search</mat-icon>
          <form [formGroup]="searchForm">
            <input type="text" formControlName="searchKeyword" (blur)="clearSearchTerm()" placeholder="搜索" />
          </form>
        </div>

        <!-- 搜索结果 -->
<!--         <!--
        <div *ngIf="data.length"; else noResults>
          <div class=url-item *ngFor="let item of data">
            <a [href]="item.href" target="_blank">
              {{ item.name }}
            </a>
            <p>{{ item.description }}</p>
          </div>
        </div>
        <ng-template #noResults>
          <div>No results found.</div>
        </ng-template>
      --> -->


        <div class="edButtons">
          <button class="iconButton" matTooltip="切换页面" (click)="toggleComponent()">
            <i-tabler name="menu-2"></i-tabler>
          </button>
          <!-- 根据 currentComponent 渲染添加分类按钮 -->
          <ng-container *ngIf="currentComponent === 'manage'">
            <button class="iconButton" (click)="openCategoryDialog()" matTooltip="添加分类">
              <i-tabler name="plus"></i-tabler>
            </button>
          </ng-container>
        </div>
      </div>
    </mat-toolbar>


    <!-- 根据 currentComponent 渲染不同的组件 -->
    <ng-container>
      <ng-container *ngIf="currentComponent === 'pages'">
        <app-pages class="mt-16"></app-pages>
      </ng-container>
      <ng-container *ngIf="currentComponent === 'manage'">
        <app-manage class="mt-16"></app-manage>
      </ng-container>
    </ng-container>

  </mat-sidenav-content>
</mat-sidenav-container>
