/* 侧边栏容器 */
mat-sidenav-container {
  height: 100vh; /* 确保容器占满可用高度 */
  width: 100vw; /* 占据整个视口宽度 */
  background-color: #F3F6F8;
}


/* 侧边栏样式 */
mat-sidenav {
  width: 240px; /* 根据需要设置侧边栏宽度 */
  height: 100%; /* 侧边栏占满高度 */
  overflow-y: auto; /* 如果内容过多，允许垂直滚动 */
  border-radius: 0; /* 右边不设圆角 */
  background-color: #222831;
  padding: 0px 20px;
  margin-right: 10px;
}



/* 确保 mat-sidenav-content 占据除了侧边栏外的剩余部分 */
mat-sidenav-content {
  display: flex;
  flex-direction: column;
  height: 100%; /* 占据父容器的剩余高度 */
  background-color: #F3F6F8;
  padding:10px 30px;
}

.navnetic {
  display: flex;
  align-items: center;
  color: #fff;
  margin-top: 20px;
}

.navnetic i-tabler {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.navnetic span {
  font-size: 16px;
  font-weight: bold;

}

/* 列表项样式 */
mat-list-item {
  display: flex;
  align-items: center; /* 垂直居中 */
  justify-content: center; /* 水平居中 */
  font-size: 16px; /* 列表项字体大小 */
  padding: 0 10px; /* 列表项内边距 */
  height: 48px; /* 列表项高度 */
}


/* 分类侧边栏 */
.categorySidebar {
  display: flex;
  align-items: center; /* 垂直居中 */
  font-size: 12px;
  font-weight: bold;
  color: #677493;
  padding-top: 10px;
}

/* 分类侧边栏图片样式 */
.categorySidebar img {
  margin-right: 10px; /* 图片和标题之间的间距 */
  width: 16px;
  height: 16px;
  border-radius: 50%; /* 圆形图片 */
  color: #677493;
}

/* 鼠标悬停/点击的样式 */
.categorySidebar.categorySidebar:hover,
.categorySidebar.categorySidebar:focus,
.categorySidebar.categorySidebar:active {
  color: #fff;
}





/* 标题栏 */
mat-toolbar {
  display: flex;
  min-height: 60px;
  justify-content: space-between; /* 可选：根据需要调整主轴对齐方式 */
  align-items: center; /* 垂直居中对齐 */
  background-color: #fff;

}

/* 标题栏右侧内容 */
.toolbar-right{
  display: flex;
  margin-left: auto; /* 推到右侧 */
  position: relative;
}

/* 搜索框 */
.toolbar-search{
  display: flex;
  align-items: center;  /* 垂直居中 */
  border-radius: 32px;
  border: 1px solid #e6e6e6;
  padding: 5px;
  margin: 0 10px;
  width: 180px;
}

/* 搜索图标 */
.toolbar-search mat-icon{
  color: #AAAAAA;
  padding: 0 5px;
}

/* 搜索输入框 */
.toolbar-search form {
  display: flex;
  align-items: center;  /* 垂直居中 */
}
.toolbar-search input{
  border: none;
  height: 20px;
  width: 120px;
  margin-left: 8px;

  &:focus{
    outline: none;  /* 去除输入框获得焦点时的默认外边框 */
  }

}


/* 搜索结果 */
.searchResult {
  position: absolute; /* 绝对定位 */
  top: 75px; /* 根据需要调整，应该是搜索框的高度 */
  right: 30px;
  width: 240px;
  max-height: 500px;
  overflow-y: auto; /* 如果内容超出，允许垂直滚动 */
  background-color: #fff;
  border: 1px solid #e6e6e6;
  padding: 10px;
  z-index: 100;
}

/* 搜索结果每一项 */
.searchResult-content {
  display: flex;
  align-items: center; /* 垂直居中对齐 */
  justify-content: space-between; /* 元素横向间隔分开 */
  margin-bottom: 10px; /* 可选：增加每项之间的间隔 */
  font-size: 13px; /* 可选：调整字体大小 */
  text-decoration: none; /* 去除下划线 */
  color: #415B75;
}

/* 鼠标悬停每个搜索结果时 */
.searchResult-content:hover .searchResult-name,
.searchResult-content:hover .searchResult-desc {
  color: #007bff;
  font-weight: bold;
}

/* 搜索结果总数 */
.searchResult-count {
  font-size: 13px;
}
