<button class="close-button" (click)="closeDialog()">×</button>


<h5 mat-dialog-title class="custom-dialogTitle">{{ isUpdate ? '编辑网址' : '新增网址' }}</h5>


<form [formGroup]="form" autocomplete="off">
  <div mat-dialog-content class="custom-dialogContent">


    <ng-container>
      <mat-label class="mb-6">名称:</mat-label>
      <mat-form-field appearance="outline" >
        <input matInput type="text" formControlName="name">
        <mat-error *ngIf="form.controls['name'].hasError('required')">
          名称是必填的
        </mat-error>
      </mat-form-field>
    </ng-container>

    <ng-container>
      <mat-label class="mb-6">图标:</mat-label>
      <mat-form-field appearance="outline" >
        <input matInput type="text" formControlName="icon">
        <mat-error *ngIf="form.controls['icon'].hasError('required')">
          图标是必填的
        </mat-error>
      </mat-form-field>
    </ng-container>

    <ng-container>
      <mat-label class="mb-6">链接:</mat-label>
      <mat-form-field appearance="outline" >
        <input matInput type="text" formControlName="href">
        <mat-error *ngIf="form.controls['href'].hasError('required')">
          链接是必填的
        </mat-error>
      </mat-form-field>
    </ng-container>

    <ng-container>
      <mat-label class="mb-6">描述:</mat-label>
      <mat-form-field appearance="outline" >
        <input matInput type="text" formControlName="description">
      </mat-form-field>
    </ng-container>

  </div>
</form>

<div mat-dialog-actions class="button-row">
  <button mat-stroked-button color="primary" (click)="closeDialog()">取消</button>
  <button mat-flat-button color="primary" type=submit class=save-button (click)="onSubmit()">保存</button>
</div>

