
/* 标题的样式 */
.custom-dialogTitle {
  margin: 20px;
  font-size: 15px;
}

/* 内容的样式 */
.custom-dialogContent {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  font-size: 14px;
}



/* 添加按钮行的样式 */
.button-row {
  display: flex;  /* 弹性布局 */
  justify-content: flex-end; /* 右对齐 */
  align-items: center;  /* 垂直居中 */
  margin: 0 20px 20px 0;  /* 左上右下的间距 */
  gap: 20px;  /* 按钮之间的间距 */
}



