mat-toolbar {
  display: flex;
  justify-content: space-between; /* 可选：根据需要调整主轴对齐方式 */
  align-items: center; /* 垂直居中对齐 */
}

.toolbar-search{
  display: flex;
  align-items: center;  /* 垂直居中 */
  border-radius: 5px;
  background-color: #fff;
  padding: 5px;
  margin: 0 10px;
  width: 200px;
  margin-left: auto; /* 推到右侧 */
}



.toolbar-search input{
  border: none;
  margin-left: 8px;
}

