

.toolbar-search{
  display: flex;
  align-items: center;  /* 垂直居中 */
  border-radius: 5px;
  background-color: #fff;
  padding: 5px;
  margin: 0 10px;
  width: 200px;


}


.toolbar-search input{
  border: none;
  margin-left: 8px;
}

