<button class="close-button" (click)="closeDialog()">×</button>
<h5 mat-dialog-title class="custom-dialogTitle">{{ isUpdate ? '编辑分类' : '新增分类' }}</h5>

<form [formGroup]="form" autocomplete="off">
  <div mat-dialog-content class="custom-dialogContent">
    <ng-container>
      <mat-label class="mb-6">分类名称:</mat-label>
      <mat-form-field appearance="outline" >
        <input matInput type="text" formControlName="category_name">
        <mat-error *ngIf="form.controls['category_name'].hasError('required')">
          分类名称是必填的
        </mat-error>
      </mat-form-field>
    </ng-container>
    <ng-container>
      <mat-label class="mb-6">分类图标:</mat-label>
      <mat-form-field appearance="outline" >
        <input matInput type="text" formControlName="category_icon">
        <mat-error *ngIf="form.controls['category_icon'].hasError('required')">
          分类图标是必填的
        </mat-error>
      </mat-form-field>
    </ng-container>
  </div>
</form>

<div mat-dialog-actions class="button-row">
  <button mat-stroked-button color="primary" (click)="closeDialog()">取消</button>
  <button mat-flat-button color="primary" type=submit class=save-button (click)="onSubmit()">保存</button>
</div>

