/* You can add global styles to this file, and also import other style files */
// 引入 Angular Material 样式
@use '@angular/material' as mat;
@include mat.core();

// 定义主题
$Navnetic-angular-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$azure-palette,
    tertiary: mat.$blue-palette,
  ),
  density: (
    scale: 0,
  )
));

// 应用主题样式
:root {
  @include mat.all-component-themes($Navnetic-angular-theme);
}

// 全局样式

html, body { height: 100%; }
body {
  margin: 0;
  font-family: PingFangSC-Regular, Helvetica Neue, Microsoft Yahei, 微软雅黑; }

