



/* 列表项样式 */
mat-list-item {
  display: flex;
  align-items: center; /* 垂直居中 */
  justify-content: center; /* 水平居中 */
  font-size: 16px; /* 列表项字体大小 */
  padding: 0 10px; /* 列表项内边距 */
  height: 48px; /* 列表项高度 */
}


/* 分类侧边栏 */
.categorySidebar {
  display: flex;
  align-items: center; /* 垂直居中 */
  font-size: 15px;
  font-weight: bold;
  color: #999;
  padding-top: 10px;
}

/* 分类侧边栏图片样式 */
.categorySidebar img {
  margin-right: 10px; /* 图片和标题之间的间距 */
  width: 24px;
  height: 24px;
  border-radius: 50%; /* 圆形图片 */
}

