<h5 mat-dialog-title class="mat-subtitle-1">{{ isUpdate ? '编辑分类' : '新增分类' }}</h5>
<form class="form" autocomplete="off" [formGroup]="editForm" (ngSubmit)="submit()" #formDirective="ngForm">
  <div mat-dialog-content  class="mat-subtitle-2 lh-16">
    <div class="row">

      <ng-container>
        <mat-label class="mb-6">分类名称</mat-label>
        <mat-form-field appearance="outline" >
          <input matInput type="text" formControlName="category_name">
          <mat-error *ngIf="editForm.controls['category_name'].hasError('required')">
            分类名称是必填的
          </mat-error>
        </mat-form-field>
      </ng-container>

      <ng-container>
        <mat-label class="mb-6">分类图标</mat-label>
        <mat-form-field appearance="outline" >
          <input matInput type="text" formControlName="category_icon">
          <mat-error *ngIf="editForm.controls['category_icon'].hasError('required')">
            分类图标是必填的
          </mat-error>
        </mat-form-field>
      </ng-container>
      
    </div>
  </div>
</form>

<div mat-dialog-actions class="button-row">
  <button mat-stroked-button color="primary" type="button" mat-dialog-close>取消</button>
  <button mat-flat-button color="primary" type=submit class="save-button" (click)="submit()">保存</button>
</div>

