

/* 图标按钮样式 */
.iconButton {
  padding: 0;
  border: none;
  background-color: transparent;
  color: #AFAFAF;
  margin-right: 5px;

  &:hover {
    color: #3273dc;
    font: bold;
  }
}

/* 按钮组样式 */
.edButtons {
  margin-left: auto;
  display: flex; /* 确保内部按钮水平排列 */
  gap: 8px; /* 按钮之间的间距 */
}


/* 网址卡片头部图片样式 */
.url-log {
  margin-right: 8px; /* 图片和标题之间的间距 */
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

/* 分类卡片头部图片样式 */
.category-log {
  margin-right: 8px; /* 图片和标题之间的间距 */
  border-radius: 50%;
}

/* 侧边栏图片样式 */
.sider-category-log {
  display: flex;
  align-items: center; /* 垂直居中 */
  margin-right: 10px; /* 图片和标题之间的间距 */
  border-radius: 50%;
}

.mt-16 {
  margin-top: 16px;
}

.mb-6{
  margin-bottom: 6px;
}
