

/* 分类卡片样式 */
mat-card {
  margin-bottom: 16px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: none; /* 去除所有阴影，包括下边框线 */
  width: 100%;
}


/* 网址卡片容器样式 */
.urlCard-container {
  display: flex;
  flex-wrap: wrap;  /* 允许换行 */
  gap: 16px; /* 卡片之间的间距 */
  flex-direction: row; /* 水平排列 */
}


/* 网址卡片样式 */
.urlCard {
  flex: 1 1 calc(25% - 16px); /* 修正计算公式以确保间距被考虑到 */
  max-width: calc(25% - 16px); /* 确保每个卡片的最大宽度为25% */
  box-sizing: border-box; /* 确保内边距和边框被包含在宽度内 */
  height: 96px;
  border: 1px solid #e4ecf3;
  margin: 16px 0;
}

/* 去掉卡片内容的上边距 */
.mat-mdc-card-content:first-child {
  padding-top: 0;
}


/* 网址卡片头部样式 */
.urlHeader {
  display: flex;
  align-items: center; /* 垂直居中 */
  font-size: 16px;
  font-weight: bold;
  color: #3273dc;
  padding-top: 10px;
}

/* 网址卡片头部图片样式 */
.urlHeader img {
  margin-right: 8px; /* 图片和标题之间的间距 */
  width: 40px;
  height: 40px;
  border-radius: 50%;
}


/* 编辑删除按钮样式 */
.edButtons {
  margin-left: auto;
  display: flex; /* 确保内部按钮水平排列 */
  gap: 8px; /* 按钮之间的间距 */
}




/* 网址卡片描述样式 */
.urlDescription {
  font-size: 12px;
  color: #999;
  padding: 10px 0;
}

