<!-- 分类卡片 -->
<mat-card>
  <mat-card-header>
    <mat-card-title>常用</mat-card-title>
    <ng-container class="urlHeader-buttons">
      <button class="iconButton" matTooltip="编辑">
        <i-tabler name="edit"></i-tabler>
      </button>
      <button class="iconButton" matTooltip="删除">
        <i-tabler name="trash"></i-tabler>
      </button>
    </ng-container>
  </mat-card-header>

  <!-- 网址卡片 -->
  <mat-card-content class="urlCard-container">
    <mat-card class="urlCard">
      <mat-card-content>
        <div class="urlHeader">
          <img src="https://material.angular.io/assets/img/examples/shiba2.jpg">
          <span>夏夏子博客</span>
          <ng-container class="urlHeader-buttons">
            <button class="iconButton" matTooltip="编辑">
              <i-tabler name="edit"></i-tabler>
            </button>
            <button class="iconButton" matTooltip="删除">
              <i-tabler name="trash"></i-tabler>
            </button>
          </ng-container>
        </div>
        <div class="urlDescription">
          基于vue-cli与subconverter后端实现的配置自动生成
        </div>
      </mat-card-content>
    </mat-card>


  </mat-card-content>
</mat-card>


