

/* 分类卡片样式 */
mat-card {
  margin-bottom: 16px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: none; /* 去除所有阴影，包括下边框线 */
  width: 100%;
}

mat-card-header {
  padding: 0px 16px;
}

/* 分类卡片头部样式 */
.categoryHeader {
  display: flex;
  align-items: center; /* 垂直居中 */
  font-size: 16px;
  font-weight: bold;
  color: #3273dc;
  padding-top: 10px;
  width: 100%;
  margin-bottom: 16px;
}

/* 网址卡片容器样式 */
.urlCard-container {
  display: flex;
  flex-wrap: wrap;  /* 允许换行 */
  gap: 16px; /* 卡片之间的间距 */
  flex-direction: row; /* 水平排列 */
}

/* 网址卡片链接样式的基础样式 */
.urlhref {
  text-decoration: none;
  box-sizing: border-box;
}

/* 默认情况下，每个卡片占据25%的宽度，适用于大屏幕 */
.urlhref {
  flex: 1 1 calc(25% - 16px); /* 修正计算公式以确保间距被考虑到 */
  max-width: calc(25% - 16px); /* 确保每个卡片的最大宽度为25% */
}

/* 当屏幕宽度小于850px时，每个卡片占据50%的宽度 */
@media screen and (max-width: 850px) {
  .urlhref {
    flex: 1 1 calc(50% - 16px); /* 修正计算公式以确保间距被考虑到 */
    max-width: calc(50% - 16px); /* 确保每个卡片的最大宽度为25% */
  }
}
/* 当屏幕宽度小于手机的典型宽度时，每个卡片占据100%的宽度 */
@media screen and (max-width: 480px) {
  .urlhref {
    flex: 1 1 calc(100% - 16px); /* 修正计算公式以确保间距被考虑到 */
    max-width: calc(100% - 16px); /* 确保每个卡片的最大宽度为25% */
  }
}

/* 网址卡片样式 */
.urlCard {
  height: 96px;
  border: 1px solid #e4ecf3;
  margin: 5px 0;
}


/* 网址卡片头部样式 */
.urlHeader {
  display: flex;
  align-items: center; /* 垂直居中 */
  font-size: 14px;
  color: #000;
  padding-top: 10px;
  width: 100%;
}


/* 去掉卡片内容的上边距 */
.mat-mdc-card-content:first-child {
  padding-top: 0;
}

/* 网址卡片描述样式 */
.urlDescription {
  font-size: 12px;
  color: #999;
  padding: 10px 0;
}

