<ng-container *ngFor="let category of data; trackBy: categorytrackByFn">
  <!-- 分类卡片 -->
  <mat-card id="category-{{category.category_id}}">
    <mat-card-header>
      <div class="categoryHeader">
        <app-my-svg class="sider-category-log" [iconId]="'icon-' + category.category_icon"  [size]="'20'" [fillColor]="'#4d4d4d'"></app-my-svg>
        <span>{{ category.category_name }}</span>
      </div>
    </mat-card-header>

    <!-- 网址卡片 -->
    <mat-card-content class="urlCard-container" >
      <ng-container *ngFor="let url of category.url; trackBy: urltrackByFn">
        <a href="{{ url.href }}" target="_blank" class="urlhref">
          <mat-card class="urlCard">
            <mat-card-content>
              <div class="urlHeader">
                <img class="url-log" [src]="imagePath(url.icon)" loading="lazy">
                <span>{{ url.name }}</span>
              </div>
              <div class="urlDescription">
                {{ url.description }}
              </div>
            </mat-card-content>
          </mat-card>
      </a>
      </ng-container>
    </mat-card-content>
  </mat-card>
</ng-container>


