<mat-sidenav-container [hasBackdrop]="false" >
  <mat-sidenav #sidenav [mode]="'side'" opened >
    <div class="navnetic">
      <i-tabler name="brand-telegram"></i-tabler>
      <span>夏夏子导航页</span>
    </div>
    <mat-nav-list>
        <mat-list-item *ngFor="let item of data; trackBy: categorytrackByFn">
            <div class="categorySidebar" (click)="scrollToCategory(item.category_id)"  [ngClass]="{'active-class': isActive(item.category_id)}">
              <app-my-svg class="sider-category-log" [iconId]="'icon-' + item.category_icon"  [size]="'20'" [fillColor]="isActive(item.category_id) ? '#FFFFFF' : '#A9B1C7'"></app-my-svg>
              <span class="sider-category">{{ item.category_name }}</span>
            </div>
        </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar>
      <button class="iconButton" matTooltip="切换侧边栏" (click)="toggleSidebar()">
        <i-tabler [name]="isSidebarCollapsed ? 'layout-sidebar-left-collapse' : 'layout-sidebar-left-expand'"></i-tabler>
      </button>

      <!-- 右边的内容 -->
      <div class="toolbar-right">

        <div class="toolbar-search">
          <i-tabler name="search" matPrefix></i-tabler>
          <form [formGroup]="searchForm">
            <input type="text" formControlName="searchKeyword" placeholder="搜索" (blur)="clearSearchTerm()"/>
          </form>
        </div>

        <div class="edButtons">
          <button class="iconButton" matTooltip="是否显示按钮" (click)="toggleButtons()">
            <i-tabler name="menu-2"></i-tabler>
          </button>
          <!-- 根据 showButtons 渲染添加分类按钮 -->
          <ng-container *ngIf="showButtons">
            <button class="iconButton" (click)="openCategoryDialog()" matTooltip="添加分类">
              <i-tabler name="plus"></i-tabler>
            </button>
          </ng-container>
        </div>

      </div>
    </mat-toolbar>


    <!-- 搜索结果 -->
    <div class="searchResult" *ngIf="searchForm.get('searchKeyword')?.value && data.length > 0" >
      <ng-container *ngFor="let item of searchData; trackBy: urltrackByFn">
        <a class="searchResult-content" [href]="item.href" target="_blank">
          <span class="searchResult-name">{{ item.name }}</span>
          <span class="searchResult-desc">{{ item.description }}</span>
        </a>
      </ng-container>
      <span class="searchResult-count">共搜到 {{ searchData.length }} 条结果</span>
    </div>

    <ng-container>
      <app-manage [showButtons]="showButtons" class="mt-16"></app-manage>
    </ng-container>





  </mat-sidenav-content>
</mat-sidenav-container>
